---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/home-assistant
              tag: 2024.4.0
            env:
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 300m
                memory: 1Gi
              limits:
                memory: 2Gi
        pod:
          labels:
            egress.home.arpa/lan-iot: allow
            egress.home.arpa/lan-user: allow
            egress.home.arpa/lan-mgmt: allow
            egress.home.arpa/world: allow
            egress.home.arpa/unifi: allow
            ingress.home.arpa/prometheus: allow
            ingress.home.arpa/nginx: allow
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "kube-system",
                "mac": "e2:c5:0c:83:20:31",
                "ips": ["192.168.4.240/24"]
              }]
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: home-assistant
        ports:
          http:
            port: &port 8123
    ingress:
      app:
        enabled: true
        className: nginx
        hosts:
          - host: &host hass.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: *port
        tls:
          - hosts:
              - *host
    serviceAccount:
      create: true
      name: hass
    persistence:
      config:
        existingClaim: home-assistant
      tmp:
        type: emptyDir
