---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: home-assistant-restic
  namespace: home-automation
spec:
  refreshInterval: "30m"
  secretStoreRef:
    name: vault-kv-backend
    kind: SecretStore
  target:
    name: home-assistant-restic-secret
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: '{{ .RESTIC_URL }}/home-assistant'
        RESTIC_PASSWORD: '{{ .RESTIC_HASS_PASSWORD }}'
  dataFrom:
    - extract:
        key: /volsync/volsync
    - extract:
        key: /volsync/home-assistant
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  sourcePVC: home-assistant
  trigger:
    schedule: "0 7 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 7
    repository: home-assistant-restic-secret
    cacheCapacity: 8Gi
    cacheStorageClassName: local-path
    volumeSnapshotClassName: csi-ceph-blockpool
    storageClassName: ceph-pool
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
    retain:
      daily: 7
      within: 3d