# kubernetes
ENVIRONMENT="example"
DOMAIN=example.com
VIP_IP="192.168.0.100"
VIP_PORT="443"
SERVER_CIDR="192.168.0.0/24"

# vault
VAULT_ADDR="https://vault.example.com"
VAULT_TOKEN="xxxxxxxx"
VAULT_UNSEAL_KEY_1="xxxxxxxx"
VAULT_UNSEAL_KEY_2="xxxxxxxx"
VAULT_UNSEAL_KEY_3="xxxxxxxx"

# cloudflare
CLOUDFLARE_EMAIL="dan@example.com"
CLOUDFLARE_TOKEN="xxxxxxxx"

# emqx
EMQX_ADMIN_PASSWORD="xxxxxxxx"
EMQX_USER1_NAME="xxxxxxxx"
EMQX_USER1_PASSWORD="xxxxxxxx"
EMQX_LB_IP="192.168.0.100"

# flux
FLUX_SLACK_WEBHOOK="https://hooks.slack.com/services/xxxxxxxx"

# cloudnative-pg
POSTGRES_SUPER_USER="xxxxxxxx"
POSTGRES_SUPER_PASS="xxxxxxxx"
POSTGRES__LB_IP="192.168.0.101"
POSTGRES_HASS_USER="xxxxxxxx"
POSTGRES_HASS_PASS="xxxxxxxx"
POSTGRES_IMMICH_USER="xxxxxxxx"
POSTGRES_IMMICH_PASS="xxxxxxxx"