# kubernetes
ENVIRONMENT="example"
DOMAIN=example.com
VIP_IP="192.168.0.100"

# vault
VAULT_ADDR="https://vault.example.com"
VAULT_TOKEN="xxxxxxxx"
VAULT_UNSEAL_KEY_1="xxxxxxxx"
VAULT_UNSEAL_KEY_2="xxxxxxxx"
VAULT_UNSEAL_KEY_3="xxxxxxxx"

# cloudflare
CLOUDFLARE_EMAIL="dan@example.com"
CLOUDFLARE_TOKEN="xxxxxxxx"

# flux
FLUX_GITHUB_DEPLOY_KEY="xxxxxxxx"
FLUX_GITHUB_KNOWN_HOSTS="xxxxxxxx"
FLUX_SLACK_WEBHOOK="https://hooks.slack.com/services/xxxxxxxx"