
BITWARDEN_EMAIL="xxxxxxxx"

# secret/database/emqx
EMQX_ADMIN_PASSWORD="xxxxxxxx"
EMQX_USER1_NAME="xxxxxxxx"
EMQX_USER1_PASSWORD="xxxxxxxx"

# secret/flux-system/notification
SLACK_WEBHOOK="xxxxxxxx"

# secret/home-automation/home-assistant
HASS_ALARM_CODE="xxxxxxxx"
HASS_DEPLOY_KEY_B64="xxxxxxxx"
HASS_DRAC_IP="xxxxxxxx"
HASS_GIT_REPO="xxxxxxxx"
HASS_HACS_TOKEN="xxxxxxxx"
HASS_LDAP_ROOT="xxxxxxxx"
HASS_LOCATION_LAT="xxxxxxxx"
HASS_LOCATION_LONG="xxxxxxxx"
HASS_POSTGRES_PASSWORD="xxxxxxxx"
HASS_POSTGRES_SUPER_PASSWORD="xxxxxxxx"
HASS_POSTGRES_SUPER_USER="xxxxxxxx"
HASS_POSTGRES_USER="xxxxxxxx"

# secret/home-automation/tidbyt-proxy
TIDBYT_API_KEY="xxxxxxxx"
TIDBYT_DEVICE_ID="xxxxxxxx"

# secret/home-automation/unifi-downloader
UNIFI_DOWNLOADER_HOST="xxxxxxxx"
UNIFI_DOWNLOADER_PASSWORD="xxxxxxxx"
UNIFI_DOWNLOADER_USERNAME="xxxxxxxx"

# secret/ingress/cloudflare
CLOUDFLARE_EMAIL="xxxxxxxx"
CLOUDFLARE_RECORD_NAME="xxxxxxxx"
CLOUDFLARE_TOKEN="xxxxxxxx"

# secret/media/immich
IMMICH_JWT_SECRET="xxxxxxxx"
IMMICH_POSTGRES_PASSWORD="xxxxxxxx"
IMMICH_POSTGRES_SUPER_PASSWORD="xxxxxxxx"
IMMICH_POSTGRES_SUPER_USER="xxxxxxxx"
IMMICH_POSTGRES_USER="xxxxxxxx"

# secret/monitoring/grafana
GRAFANA_ADMIN_PASSWORD="xxxxxxxx"
GRAFANA_ADMIN_USER="xxxxxxxx"
GRAFANA_LDAP_PASSWORD="xxxxxxxx"
GRAFANA_LDAP_ROOT="xxxxxxxx"
GRAFANA_LDAP_USERNAME="xxxxxxxx"
GRAFANA_POSTGRES_PASSWORD="xxxxxxxx"
GRAFANA_POSTGRES_SUPER_PASSWORD="xxxxxxxx"
GRAFANA_POSTGRES_SUPER_USER="xxxxxxxx"
GRAFANA_POSTGRES_USER="xxxxxxxx"

# secret/security/atuin
ATUIN_POSTGRES_PASSWORD="xxxxxxxx"
ATUIN_POSTGRES_SUPER_PASSWORD="xxxxxxxx"
ATUIN_POSTGRES_SUPER_USER="xxxxxxxx"
ATUIN_POSTGRES_USER="xxxxxxxx"

# secret/security/dex
DEX_GITOPS_CLIENT_SECRET="xxxxxxxx"
DEX_IMMICH_CLIENT_SECRET="xxxxxxxx"

# secret/security/lldap
LLDAP_JWT_SECRET="xxxxxxxx"
LLDAP_LDAP_BASE_DN="xxxxxxxx"
LLDAP_LDAP_USER_EMAIL="xxxxxxxx"
LLDAP_LDAP_USER_PASS="xxxxxxxx"
LLDAP_POSTGRES_PASSWORD="xxxxxxxx"
LLDAP_POSTGRES_SUPER_PASSWORD="xxxxxxxx"
LLDAP_POSTGRES_SUPER_USER="xxxxxxxx"
LLDAP_POSTGRES_USER="xxxxxxxx"
LLDAP_SERVER_KEY_SEED="xxxxxxxx"

# secret/security/oauth2-proxy
OAUTH2_CLIENT_SECRET="xxxxxxxx"
OAUTH2_COOKIE_SECRET="xxxxxxxx"

# secret/storage/minio
MINIO_ROOT_PASSWORD="xxxxxxxx"
MINIO_ROOT_USER="xxxxxxxx"

# secret/volsync/esphome
RESTIC_ESPHOME_PASSWORD="xxxxxxxx"

# secret/volsync/home-assistant
RESTIC_HASS_PASSWORD="xxxxxxxx"

# secret/volsync/volsync
RESTIC_URL="xxxxxxxx"

# secret/volsync/zwavejs
RESTIC_ZWAVEJS_PASSWORD="xxxxxxxx"

# secret/monitoring/unpoller
UP_UNIFI_DEFAULT_USER="xxxxxxxx"
UP_UNIFI_DEFAULT_PASS="xxxxxxxx"

# additional
INGRESS_ADGUARD_IP="xxxxxxxx"
INGRESS_DRAC_IP="xxxxxxxx"
INGRESS_PROXMOX_IP="xxxxxxxx"
INGRESS_UNIFI_IP="xxxxxxxx"
INGRESS_VACUUM_IP="xxxxxxxx"
NFS_SERVER_IP="xxxxxxxx"
