# temp folders
.private/
# ansible
xanmanning.k3s*
# kubernetes
*.kubeconfig*
kubernetes/schemas
# extras
config.xml
*.env
*.env
TODO
.vault.json
.kopia-sa.json
./.kubeconfigs
ca.crt
.cloudflared-tunnel-creds.json
.cloudflared-tunnel-config.json
.bitwarden_session
core
