---
apiVersion: v1
kind: Service
metadata:
  name: proxmox
  namespace: ingress
spec:
  ports:
  - name: http
    port: 8006
    protocol: TCP
    targetPort: 8006
  clusterIP: None
  type: ClusterIP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: external-ip
  namespace: ingress
subsets:
- addresses:
  - ip: "${INGRESS_PROXMOX_IP}"
  ports:
  - name: http
    port: 8006
    protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: proxmox
  namespace: ingress
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: nginx
  rules:
  - host: "proxmox.${DOMAIN}"
    http:
      paths:
      - backend:
          service:
            name: proxmox
            port:
              number: 8006
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "proxmox.${DOMAIN}"
