---
# https://docs.k3s.io/helm
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: external-secrets
  namespace: kube-system
spec:
  repo: https://charts.external-secrets.io/
  chart: external-secrets
  # renovate: datasource=helm depName=cilium registryUrl=https://charts.external-secrets.io/
  version: "0.8.3"
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    image:
      repository: ghcr.io/external-secrets/external-secrets
      tag: v0.9.0
    serviceAccount:
      create: true
      name: "external-secret"
    podSecurityContext:
      fsGroup: 1000
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
    resources:
      limits:
        cpu: 200m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 32Mi
    webhook:
      image:
        repository: ghcr.io/external-secrets/external-secrets
        tag: v0.9.0
      podSecurityContext:
        fsGroup: 1000
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      resources:
        limits:
          cpu: 100m
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 32Mi
