---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
type: Opaque
stringData:
  # shared services
  NFS_SERVER_IP: "{{ lookup('env', 'NFS_SERVER_IP') }}"
  INGRESS_ADGUARD_IP: "{{ lookup('env', 'INGRESS_ADGUARD_IP') }}"
  INGRESS_DRAC_IP: "{{ lookup('env', 'INGRESS_DRAC_IP') }}"
  INGRESS_KVM_IP: "{{ lookup('env', 'INGRESS_KVM_IP') }}"
  INGRESS_PROXMOX_IP: "{{ lookup('env', 'INGRESS_PROXMOX_IP') }}"
  INGRESS_UNIFI_IP: "{{ lookup('env', 'INGRESS_UNIFI_IP') }}"
  INGRESS_VACUUM_IP: "{{ lookup('env', 'INGRESS_VACUUM_IP') }}"
  # cloudflare
  CLOUDFLARE_EMAIL: "{{ lookup('env', 'CLOUDFLARE_EMAIL') }}"
  CLOUDFLARE_TOKEN: "{{ lookup('env', 'CLOUDFLARE_TOKEN') }}"
