---
haproxy_user: haproxy
haproxy_group: haproxy
haproxy_connect_timeout: 5000
haproxy_client_timeout: 50000
haproxy_server_timeout: 50000
haproxy_frontend_name: 'kube-apiserver'
haproxy_frontend_bind_address: "*"
haproxy_frontend_port: 443
haproxy_frontend_mode: 'tcp'
haproxy_backend_name: 'kube-apiserver'
haproxy_backend_mode: 'tcp'
haproxy_backend_balance_method: 'roundrobin'
haproxy_backend_servers:
  - name: core-1
    address: 192.168.8.2:6443
keepalived_instances:
  internal:
    interface: "{{ ansible_default_ipv4.interface }}"
    state: "{{ (groups['master'].index(inventory_hostname) == 0) | ternary('MASTER','BACKUP') }}"
    virtual_router_id: 42
    priority: "{{ (inventory_hostname == groups['master'][0]) | ternary('250', '100') }}"
    vips:
      - "192.168.8.3/32 dev {{ ansible_default_ipv4.interface }}"
