---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app lldap
  namespace: security
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # defaultPodOptions:
    #   securityContext:
    #     fsGroup: 1001
    #     runAsUser: 1001
    #     runAsGroup: 1001
    #     fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      lldap:
        type: statefulset
        statefulset:
          volumeClaimTemplates:
            - name: data
              globalMounts:
                - path: /data
              accessMode: ReadWriteOnce
              size: 500Mi
              storageClass: local-path
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            # securityContext:
            #   fsGroup: 1001
            #   runAsUser: 1001
            #   runAsGroup: 1001
            #   capabilities:
            #     drop:
            #       - ALL
            #   runAsNonRoot: true
            #   readOnlyRootFilesystem: false
            #   allowPrivilegeEscalation: false
            #   seccompProfile:
            #     type: RuntimeDefault
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 500Mi
            image:
              repository: ghcr.io/lldap/lldap
              tag: latest-alpine@sha256:2819a9d26d545c7640c9551d8ffe5e954eca81b34a62b87fad933dedd9339b1d
            env:
              TZ: America/New_York
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: "https://lldap.${DOMAIN}"
              LLDAP_LDAP_PORT: &ldapPort 389
              LLDAP_LDAPS_OPTIONS__ENABLED: "true"
              LLDAP_LDAPS_OPTIONS__PORT: &ldapsPort 636
              LLDAP_LDAPS_OPTIONS__CERT_FILE: /certs/tls.crt
              LLDAP_LDAPS_OPTIONS__KEY_FILE: /certs/tls.key
            envFrom:
              - secretRef:
                  name: lldap-secret
    service:
      app:
        controller: lldap
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "192.168.8.243"
          io.cilium/global-service: "true"
        ports:
          http:
            port: *port
          ldap:
            port: *ldapPort
          ldaps:
            port: *ldapsPort
    serviceAccount:
      create: true
      name: lldap
    persistence:
      certs:
        type: secret
        name: lldap-logfold-com-tls
        globalMounts:
          - path: /certs/tls.key
            subPath: tls.key
            readOnly: true
          - path: /certs/tls.crt
            subPath: tls.crt
            readOnly: true
