---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname nginx
  namespace: flux-system
spec:
  dependsOn:
  - name: cert-manager
  targetNamespace: ingress
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: ./kubernetes/clusters/${ENVIRONMENT}/ingress/nginx/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname certificates
  namespace: flux-system
spec:
  dependsOn:
  - name: cert-manager
  targetNamespace: ingress
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: ./kubernetes/clusters/${ENVIRONMENT}/ingress/nginx/certificates
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname external-ingress
  namespace: flux-system
spec:
  dependsOn:
  - name: cert-manager
  targetNamespace: ingress
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: ./kubernetes/clusters/${ENVIRONMENT}/ingress/nginx/external-ingress
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
