---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: unifi-downloader
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
        runAsGroup: 1001
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      main:
        type: statefulset
        statefulset:
          volumeClaimTemplates:
            - name: download-path
              globalMounts:
                - path: /download
              accessMode: ReadWriteOnce
              size: 30Gi
              storageClass: ceph-pool
        pod:
          securityContext:
            fsGroup: 1001
            runAsUser: 1001
            runAsGroup: 1001
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
        containers:
          main:
            resources:
              requests:
                memory: "64Mi"
                cpu: "250m"
              limits:
                memory: "128Mi"
            image:
              repository: "dmcavinue/unifi-downloader"
              tag: 0.1.2
            envFrom:
              - secretRef:
                  name: unifi-downloader
    service:
      main:
        enabled: false
    ingress:
      main:
        enabled: false
    serviceAccount:
      create: true
      name: unifi-downloader
    persistence:
      backup-path:
        type: persistentVolumeClaim
        existingClaim: unifi-downloader-nfs
        globalMounts:
          - path: /backup
