---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: music-assistant
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      atuin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dmcavinue/music-assistant
              tag: 0.0.1
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 300m
                memory: 256Mi
              limits:
                memory: 1500Mi
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "kube-system",
                "mac": "be:f7:c1:a0:0a:fb",
                "ips": ["192.168.4.242/24"]
              }]
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
            runAsNonRoot: true
            fsGroup: 1001
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: atuin
        ports:
          http:
            port: &port 8095
    ingress:
      app:
        enabled: true
        className: nginx
        # annotations:
        #   nginx.ingress.kubernetes.io/auth-url: https://oauth.nucstack.com/oauth2/auth
        #   nginx.ingress.kubernetes.io/auth-signin: https://oauth.nucstack.com/oauth2/start
        hosts:
          - host: &host music.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: *port
        tls:
          - hosts:
              - *host
    serviceAccount:
      create: true
      name: music-assistant
    persistence:
      data:
        enabled: true
        existingClaim: music-assistant
      tmp:
        type: emptyDir
