---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
        runAsGroup: 1001
    controllers:
      main:
        type: statefulset
        statefulset:
          volumeClaimTemplates:
            - name: config
              globalMounts:
                - path: /config
              accessMode: ReadWriteOnce
              size: 15Gi
              storageClass: ceph-pool
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            securityContext:
              fsGroup: 1001
              runAsUser: 1001
              runAsGroup: 1001
              capabilities:
                drop:
                  - ALL
              runAsNonRoot: true
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              seccompProfile:
                type: RuntimeDefault
            resources:
              limits:
                memory: 1500Mi
              requests:
                cpu: 200m
                memory: 1Gi
            image:
              repository: esphome/esphome
              tag: 2024.2.2
            env:
              ESPHOME_DASHBOARD_USE_PING: true
              PLATFORMIO_CORE_DIR: /config/.plattformio
              PLATFORMIO_GLOBALLIB_DIR: /config/.plattformioLibs
    service:
      main:
        ports:
          http:
            port: 6052
    ingress:
      main:
        enabled: false
    persistence:
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
    serviceAccount:
      create: true
      name: esphome