---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: esphome-restic
  namespace: home-automation
spec:
  refreshInterval: "30m"
  secretStoreRef:
    name: vault-kv-backend
    kind: SecretStore
  target:
    name: esphome-restic-secret
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: '{{ .RESTIC_URL }}/esphome'
        RESTIC_PASSWORD: '{{ .RESTIC_ESPHOME_PASSWORD }}'
  dataFrom:
    - extract:
        key: /volsync/volsync
    - extract:
        key: /volsync/esphome
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: esphome
  namespace: home-automation
spec:
  sourcePVC: config-esphome-0
  trigger:
    schedule: "0 7 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 7
    repository: esphome-restic-secret
    cacheCapacity: 8Gi
    cacheStorageClassName: local-path
    volumeSnapshotClassName: csi-ceph-blockpool
    storageClassName: ceph-pool
    retain:
      daily: 7
      within: 3d
